.tooltip {
    position: absolute;
    background-color: rbga(0, 0, 0, 0.8);
    border-radius: 4px;
    color: white;
    font-size: 14px;
    padding: 4px;
    margin-left: 15px;
    transform: translateY(-50%);
}

.tooltip:after {
    content: "";
    position: absolute;
    border-width: 5px;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-color: transparent black transparent transparent;
}